<?xml version="1.0" encoding="UTF-8"?>
<!--
  MSIX packaging profile for S.E.E.D. App.
  Build with: dotnet publish -p:Configuration=Release -p:Platform=x64 -p:WindowsPackageType=Msix
  Or use: msbuild /t:Pack /p:Configuration=Release /p:Platform=x64
  A self-signed certificate is generated for testing if none is specified.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Platform>x64</Platform>
    <WindowsPackageType>Msix</WindowsPackageType>
    <AppxPackageSigningEnabled>true</AppxPackageSigningEnabled>
    <PackageCertificateKeyFile Condition="Exists('$(ProjectDir)SeedSync.pfx')">$(ProjectDir)SeedSync.pfx</PackageCertificateKeyFile>
    <PackageCertificateThumbprint Condition="Exists('$(ProjectDir)SeedSync.pfx')"></PackageCertificateThumbprint>
    <!-- If no .pfx, SDK will prompt or use test cert -->
    <PublishDir>bin\$(Configuration)\$(TargetFramework)\win-x64\msix\</PublishDir>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>
